.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирование по оси X */
}

.cards {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  width: 50%;
  height: 70%;
  display: flex; /* Использование flexbox внутри карточки */
  flex-direction: column; /* Расположение элементов в столбец */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
}

.cards:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cardContact {
  color: #555;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px; /* Добавляем небольшой отступ снизу */
}

.email {
  color: #555;
  font-size: 0.9rem; /* Уменьшаем размер текста адреса электронной почты */
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px; /* Добавляем отступ наверху для кнопок */
}

.button-container button {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  width: 60%;
  height: 22%;
}

.button-container button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
